
body {
    color: #969696;
}
p {
    margin-bottom: 10px;
}
blockquote {
    padding: 15px 20px;
    border-left: 2px solid #DE5E60;
}

header #logo a {
    background: none;

    color: #FFFFFF;
    font-size: 16px;
    font-weight: 300;
    display: inline;
    text-transform: uppercase;
}

.page, .page-alternate {
    text-align: left;
}

.title-page {
    margin-bottom: 0px !important;
}

.list-no-bullet {
    list-style: none;
}

code,
.code-txt {
    /* reset backgrounds / borders /colors */
    border: none;
    background-color: #2F3238;
    color: inherit;

    font-size: small !important;
    line-height: normal !important;

    /* white-space corrections */
    white-space: pre-wrap;
    word-wrap: break-word;
    word-break: break-all;

    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    border-radius: 0 !important;
}

.code-txt {
    /* make sure we have a block-el */
    display: block;

    /* margins in and out of text */
    margin: 0px;
    padding: 10px;
    padding-left: 20px;
    margin-bottom: 20px;

    border-left: 2px solid #DE5E60;
}